/* NavbarcStarts */
.navbar-1 {
    background-color: darkslategrey;
    color: white;
    padding: 1% 5% 0.5% 2%;
}
.image-1 {
    height: 100px;
}
.header-1, .para-1 {
    margin-bottom: 0;
}
.for-color-1 {
    color: white !important;
    text-shadow: 2px 4px 3px #000000;
}
.for-color-1 :hover {
    color: black !important;
}
.button-1 {
	width:100px !important;
}
/* Navbar Ends */

.tables {
	margin-left:20%;
	margin-top:10%;
	margin-bottom:20%;
}
.tables th {
	margin-right:10px;
}
.table-1 th {
	padding-right:20px;
	padding-left:20px;
}
.table-1 td {
	padding-right:20px;
	padding-left:20px;
}
.tables tr:nth-child(even){background-color: #f2f2f2;}

.tables tr:hover {background-color: #ddd;}

.form-11 {
	margin: 0 10%;
}
.form-11 input {
	margin-right:20px;
	margin-left:20px;
	margin-bottom: 4%;
}


/* footer starts */
#footer {
    padding: 1% 15% ;
    text-align: center;
    background-color: darkslategrey;
    color: white;
  }
  
  .social-icon {
    margin: 0 10px;
  }
  /* footer ends */