.table-1 {
	/*margin-left:10%;*/
	margin-top:5%;
	margin-bottom:3%;
}
.table-2 {
	/*margin-left:10%;*/
	margin-top:5%;
	margin-bottom:3%;
}
.tables {
	margin-left:28%;
}
.tables th {
	margin-right:10px;
}
.header-1 {
	text-align:center;
}
.header-2 {
	text-align:center;
}
th {
	margin-right:100px;
}
.table-1 th {
	padding-right:20px;
}
.table-1 td {
	padding-right:20px;
}
.table-2 th {
	padding-right:20px;
}
.table-2 td {
	padding-right:20px;
}