/* NavbarcStarts */
.navbar-1 {
    background-color: darkslategrey;
    color: white;
    padding: 1% 5% 0.5% 2%;
}
.image-1 {
    height: 100px;
}
.header-1, .para-1 {
    margin-bottom: 0;
}
.for-color-1 {
    color: white !important;
    text-shadow: 2px 4px 3px #000000;
}
.for-color-1 :hover {
    color: black !important;
}
.button-1 {
	width:100px !important;
}
/* Navbar Ends */

/*.form-1 {*/
/*	text-align:center;*/
/*}*/
.form-1 {
	margin-top:5%;
	margin-left:20%;
	float:left;
	margin-right:18%;
}
.form-1 input {
	width:300px;
}
.form-2 {
	margin-top:5%;
	margin-left:16%;
	height:400px;
}
.form-2 input {
	width:300px;
}

/* footer starts */
#footer {
    padding: 1% 15% ;
    text-align: center;
    background-color: darkslategrey;
    color: white;
  }
  
  .social-icon {
    margin: 0 10px;
  }
  /* footer ends */